<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить данные о книге</title>
</head>
<body>
<form th:method="PATCH" th:object="${book}" th:action="@{/books/{id}(id=${book.getBookId()})}">
    <label for="name">Введите название книги</label>
    <input type="text" id="name" th:field="*{bookName}">
    <div style="color:red" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}">Name error</div>
    <br/>
    <label for="author">Введите автора</label>
    <input type="text" id="author" th:field="*{author}">
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Name error</div>
    <br/>
    <label for="year">Введите год</label>
    <input type="text" id="year" th:field="*{year}">
    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Name error</div>
    <br/>
    <input type="submit" value="Обновить!">
</form>
</body>
</html>